@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@Localizer["AboutTitle"]</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css">
</head>
<body>
<div class="text-center">
    <br/>
    <h1>@Localizer["WeSelling"]</h1>
    <br/>
    <h2>@Localizer["ThatsAll"]</h2>
    <br/>
    <h4 class="btn btn-light"><a asp-action="Index">@Localizer["GoHome"]</a></h4>
</div>
</body>
</html>