@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css">
    <title>Welcome</title>
</head>
<body>
<div class="text-center">
    <br/>
    <h2>@Localizer["Welcome"]</h2>
    <br/>
    <h3>@Localizer["Slogan"]</h3>
    <h4></h4>
    <br/>
    <h4><a class="btn btn-primary" asp-action="ListGames">@Localizer["LookInvite"]</a></h4>
    <br/>
    <h5><a class="btn btn-light" asp-action="About">@Localizer["About"]</a></h5>
</div>
</body>
</html>