@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css">
    <title>Welcome</title>
</head>
<body>
<div class="text-center">
    <br/>
    <h2>Welocome to GameCentral Store!</h2>
    <br/>
    <h3>Our company is selling video games</h3>
    <h4></h4>
    <br/>
    <h4><a class="btn btn-primary" asp-action="ListGames">Look for cool video games</a></h4>
    <br/>
    <h5><a class="btn btn-light" asp-action="About">About</a></h5>
</div>
</body>
</html>