# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.GameCentral.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\RiderProjects\GameCentral\.idea\.idea.GameCentral\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
